.search {
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 32px;

  .browse-all-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

    a {
      width: 165px;
      height: 165px;
      color: #000;
    }
  }
}
